/* police paragraphe */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
/* police titre */
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
  --black-color: #161a1d;
  --gray-color: #f5f3f4;
  --red-color: #a4161a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 90vw;
  margin: auto;
}

#navbar {
  background-color: var(--black-color);
  color: var(--gray-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  font-family: "Nunito", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  transition: all 0.3s;
}

#navbar .menu {
  display: flex;
  position: relative;
  width: 820px;
}

#navbar .menu li {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.5s ease;
}

#navbar .menu a {
  flex: 1;
  justify-content: center;
  display: inline-flex;
  color: var(--gray-color);
  text-decoration: none;
  padding: 20px;
  position: relative;
}

#navbar .menu a > .fa {
  font-weight: bold;
  margin-left: 8px;
}

#navbar .menu li:hover {
  background-color: var(--red-color);
}

#navbar .menu li:hover .container_menu {
  display: flex;
}

.icon_nav {
  margin-top: 3px;
  margin-left: 10px;
  rotate: 180deg;
}

.container_menu {
  display: none;
  position: absolute;
  top: 56px;
  background-color: var(--gray-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  padding: 20px;
  text-align: left;
  margin-top: 6px;
  width: 270px;
}

.container__list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}

.container__listItem {
  flex: 0 0 25%;
  padding: 10px 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container__listItem > div {
  color: var(--black-color);
  text-decoration: underline;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container_menu.has-multi .container__listItem {
  flex-basis: 100%;
}

.container_menu.has-multi .container__list {
  flex-basis: 33.333%;
  border-radius: 4px;
}

.container_menu.has-multi .container__list:not(:last-child) {
  border-right: solid 1px var(--white-color);
  margin-right: 20px;
}

#logo {
  width: 6vw;
  transition: width 0.3s;
}

#menu {
  display: flex;
  justify-content: space-between;
}

#menu li {
  list-style: none;
}

.link {
  text-decoration: none;
}

.titre {
  font-size: 4vw;
  font-family: "Kanit", sans-serif;
  color: var(--black-color);
  text-align: center;
  margin-top: 10vh;
}

.article {
  margin: 10vh 0;
  width: 100%;
}

/* .article_service {
     display: flex;
     justify-content: space-between;
     align-content: center;
 } */

.article_prestation,
.article_partenaires,
.article_service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.logo_partenaire {
  width: 300px;
  margin: 5px;
  transition: all 0.3s;
}

.logo_partenaire:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
}

/* .bloc_service:nth-child(1){
     margin-left: 0;
 }
 .bloc_service:nth-child(4){
     margin-right: 0;
 } */
.bloc_service {
  display: grid;
  align-items: center;
  width: 200px;
  margin: 20px;
  padding: 10px 10px 45px 10px;
  text-align: center;
  color: var(--black-color);
  transition: all 0.3s;
}

.bloc_service:hover {
  width: 290px;
  margin: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
}

.icon_img_service {
  width: 80%;
  margin: 0 auto;
  filter: brightness(1);
}

.imgProduit {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.card {
  width: 300px;
  height: 23vh;
  border-radius: 22px;
  overflow: hidden;
  margin: 20px;
  padding: 5px;
}

.information {
  padding: 5px 20px;
  transition: all 0.4s;
  background: var(--red-color);
  opacity: 0.9;
  height: 100%;
  color: var(--gray-color);
  font-family: "Nunito", sans-serif;
}

.card:hover .information {
  transform: translateY(-55%);
}

#scrollUp {
  background: var(--red-color);
  border-radius: 5px;
  padding: 2px;
  color: var(--gray-color);
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  opacity: 0;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  transition-property: opacity;
  transition-duration: 0.3s;
}

footer {
  height: 30vh;
  background: var(--black-color);
}
.container_contact {
  width: 55vw;
  margin: 25px auto;
}
.container_contact form {
  display: grid;
}
.input {
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  height: 45px;
  margin: 10px;
  background: #fff;
  padding: 10px;
  transition: all 0.3s;
  max-width: 55vw;

}
.input:focus {
  
  outline:2px solid var(--red-color);
}
#bloc_nom_prenom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#bloc_nom_prenom div {
  display: grid;
  width: 50%;
}
.btn_message {
  width: 5vw;
  border: 0;
  margin: 10px 45%;
  padding: 10px;
  background: var(--red-color);
  color: #FFF;
  border-radius: 12px;
  cursor: pointer;
}
#toast {
  padding: 10px;
  padding-left: 5px;
  position: fixed;
  width: 230px;
  height: 50px;
  top: 0vh;
  left: 80%;
  transform: translate(-50%);
  background-color: #eff2ff;
  color: #76777e;
  padding: 1px;
  border-radius: 8px;
  text-align: center;
  z-index: 6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

#toast.show {
  visibility: visible;
  animation: fadeInOut 3s;
}
.icon_message {
  padding-right: 15px;
  fill: var(--red-color);
}
.container_info{
    margin: 25px auto;
    width: 65vw;
    font-size: 20px;
}
.container_info p {
    margin: 15px 0;
}
@keyframes fadeInOut {
  5%,
  95% {
    opacity: 1;
    top: 50px;
  }

  15%,
  85% {
    opacity: 1;
    top: 30px;
  }
}
